.rules-section {
  width: 100%;
  height: 60rem;
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -140%;
}

.rulesheader {
  display: flex;
  align-items: center;
  justify-content: center;
}
